.env
commands.
.venv
node_modules
.install_python39.sh
__pycache__
*.pyc
update_python_ver.sh
/ai_agent/__pycache__
/ai_agent/__pycache__
/ai_agent/__pycache__
/storage.db
ai_agent/__pycache__/client.cpython-312.pyc
ai_agent/__pycache__/mcp_platform.cpython-312.pyc
